<app-main-nav></app-main-nav>
<div class="wrapper">

  <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-12">
       <div class="my-2">
        <a routerLink="/profile"  ><img class="float-start" src="/assets/images/left-chevron.png" /> Back</a>
       </div>
          <div class="d-block">
            <form (ngSubmit)="updateUser()">
              <h1 class="mt-5 mb-4">Update Profile</h1>
              <div class="search">
                  <img src="/assets/images/Profile.png" alt="" /><input name="name" [(ngModel)]="user.name" type="text" [class]="'form-control ' + ( errors.name ? ' is-invalid' : '')" placeholder="Full Name" />
                <span class="invalid-feedback" *ngIf="errors.name">{{errors.name}}</span>
                </div>

              <div class="search my-4">
                  <img src="/assets/images/Message.png" alt="" /><input name="email" [(ngModel)]="user.email" type="email" [class]="'form-control' + (errors.email ? ' is-invalid ' : '')" placeholder="abc@gmail.com" />
                  <span class="invalid-feedback" *ngIf="errors.email">{{errors.email}}</span>
              </div>


              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-md px-4 py-2 w-100 mx-auto text-white my-4" style="background-color: #5669ff">
                      <span class="align-middle">Update</span><img class="float-end" src="/assets/images/Group 4.png" />
                  </button>
              </div>
            </form>



          </div>
      </div>
  </div>


</div>

