<app-main-nav></app-main-nav>
<div class="wrapper">

  <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-12">
       <div class="my-2">
        <a routerLink="/settings"  ><img class="float-start" src="/assets/images/left-chevron.png" /> Back</a>
       </div>
          <div class="d-block">
            <form (ngSubmit)="changePassword()">
              <h1 class="mt-5 mb-4">Change Password</h1>
              <div class="search">
                <img src="/assets/images/Lock.png" alt="" /><input name="oldpassword" [(ngModel)]="user.oldpassword" type="password" [class]="'form-control ' + ( errors.oldpassword ? ' is-invalid' : '')" placeholder="Old Password" />
              <span class="invalid-feedback" *ngIf="errors.oldpassword">{{errors.oldpassword}}</span>
              </div>
              <div class="search my-4">
                <img src="/assets/images/Lock.png" alt="" /><input name="password" [(ngModel)]="user.password" type="password" [class]="'form-control' + (errors.password ? ' is-invalid ' : '')" placeholder="Password" />
                <span class="invalid-feedback" *ngIf="errors.password">{{errors.password}}</span>
            </div>
            <div class="search my-4">
                <img src="/assets/images/Lock.png" alt="" />
                <input name="password_confirm" [(ngModel)]="user.password_confirm" type="password" class="form-control" placeholder="Confirm Password" />
            </div>

              <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-md px-4 py-2 w-100 mx-auto text-white my-4" style="background-color: #5669ff">
                      <span class="align-middle">Change Password</span>
                      <div class="float-end">
                        <span *ngIf="busy" style="width:27px; height:27px"  class="spinner-border  "></span>
                      <img *ngIf="!busy"  src="/assets/images/Group 4.png" />
                    </div>
                  </button>
              </div>
            </form>



          </div>


      </div>
  </div>


</div>
